@tailwind base;
@tailwind components;
@tailwind utilities;


.btn-custom{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
    height: 64px;
    border-radius: 5px;
    background: #FD6E0A;
    cursor: pointer;
}

.banner{
    background: #FFF8F3;
    background-image: url(/developer.png), url(/header_bg.png);
    background-repeat: no-repeat;
    background-position: left, right bottom;
}

.skill{
    box-shadow: 0px 6px 50px rgb(0 0 0 / 20%);
    border-radius: 5px;
}